@CHARSET "ISO-8859-1";

table th
{
	text-align: left;
}

input.start,
input.end
{
	width: 40px;
}

div.pane
{
	display: none;
	height: 350px;
	width: 465px;
}

div.pane.active
{
	display: block;
}

.pane_btn
{
	cursor: pointer;
}

.pane_btn.active
{
	color: blue;
} 

/* De Rows een row heeft namelijk meerdere columns, hmm eigenlijk gewoon een k.u.t. naamgeving */
div.columns
{
	clear: both;
	height: 20px;
}

div#pane_times div.columns div.start,
div#pane_times div.columns div.end
{
	float: left; width: 75px;
}

div#pane_times div.columns div.title
{
	float: left; width: 131px;
}

div#pane_times div.columns div.toggle,
div#pane_times div.columns div.play,
div#pane_times div.columns div.delete
{
	float: left; width: 18px;
}

div.clip_events_time div.columns div.toggle,
div.clip_events_time div.columns div.play,
div.clip_events_time div.columns div.delete,
div.clip_events_time div.columns img.btn_start,
div.clip_events_time div.columns img.btn_end
{
	cursor: pointer;
}

div.clip_events_actions
{
	clear: both;
}

div.actions
{
	background-color: #CFCFCF;
	clear: both;
	padding-left: 18px;
	margin-left: 17px;
	display: none;
}

div.actions.open
{
	display: block;
}

div.actions div.columns div.type,
div.actions div.columns div.domtarget
{
	float: left; width: 128px;
}

div.actions div.columns div.type select,
div.actions div.columns div.domtarget select
{
	width: 115px;
}

div.actions div.columns div.edit
{
	float: left; width: 18px;
}



div#pane_captions div.columns div.start,
div#pane_captions div.columns div.end
{
	float: left; width: 75px;
}

div#pane_captions div.columns div.title
{
	float: left; width: 240px;
}

div#pane_captions div.columns div.title input
{
	width: 225px;	
}

div#pane_captions div.columns div.toggle,
div#pane_captions div.columns div.play,
div#pane_captions div.columns div.delete
{
	float: left; width: 18px;
}

div.clip_events_captions div.columns div.toggle,
div.clip_events_captions div.columns div.play,
div.clip_events_captions div.columns div.delete,
div.clip_events_captions div.columns img.btn_start,
div.clip_events_captions div.columns img.btn_end
{
	cursor: pointer;
}
