/* login & profile module css */

div.authorization div.body div.row input.error,
div.ProfileModule div.body div.row input.error {
	border: 1px solid red
}

div.authorization div.body div.row div.error,
div.ProfileModule div.body div.row div.error {
	color: red;
	font-weight: bold;
}

div.ProfileModule div.body div.authorization_activity table {
	background: black;
}

div.ProfileModule div.body div.authorization_activity td,
div.ProfileModule div.body div.authorization_activity th {
	padding: 2px;
}
div.ProfileModule div.body div.authorization_activity td {
	background: white;
}
div.ProfileModule div.body div.authorization_activity th {
	background: #ccc;
}

div.ProfileModule div.body div.row,
div.authorization div.body div.row {
	margin: 10px 0 0 0;
	text-decoration: none;
}

div.authorization div.body div.captcha_,
div.ProfileModule div.body div.captcha_ {
	display: none;
}
