<a href="?{$this->qsPart('directory')|qsmod:"tmp"}" target="{$this}">Tmp Dir</a>
|
<a href="?{$this->qsPart('directory')|qsmod:"cache"}" target="{$this}">Cache Dir</a>
<div style="overflow: auto; height: 400px;">
<iframe name="{$this}" src="" frameborder="0" style="width:100%;height:100%"></iframe>
</div>