{if $this->code}
<div style="overflow: auto; height: 400px;"><pre>{$this->code}</pre></div>
{/if}
<form action="?{$this->qsPart('open')|qsmod:1}" method="post">
<div><textarea id="code" name="{$this->qsPart('code')}" rows="6" cols="40"></textarea></div>
<div><input type="submit" value="Execute"></div>
</form>