/* Black */
.phoundrySkinBlack .mceToolbar .mceToolbarStart span, .phoundrySkinBlack .mceToolbar .mceToolbarEnd span, .phoundrySkinBlack .mceButton, .phoundrySkinBlack .mceSplitButton, .phoundrySkinBlack .mceSeparator, .phoundrySkinBlack .mceSplitButton a.mceOpen, .phoundrySkinBlack .mceListBox a.mceOpen {background-image:url(img/button_bg_black.png)}
.phoundrySkinBlack table, .phoundrySkinBlack .mceMenuItemTitle a, .phoundrySkinBlack .mceMenuItemTitle span.mceText, .phoundrySkinBlack .mceStatusbar div, .phoundrySkinBlack .mceStatusbar span, .phoundrySkinBlack .mceStatusbar a {background:#535353; color:#FFF}
.phoundrySkinBlack table.mceListBoxEnabled .mceText, phoundrySkinBlack .mceListBox .mceText {background:#FFF; border:1px solid #CBCFD4; border-bottom-color:#989FA9; border-right:0}
.phoundrySkinBlack table.mceListBoxEnabled:hover .mceText, .phoundrySkinBlack .mceListBoxHover .mceText, .phoundrySkinBlack .mceListBoxSelected .mceText {background:#FFF; border:1px solid #FFBD69; border-right:0}
.phoundrySkinBlack .mceExternalToolbar, .phoundrySkinBlack .mceListBox .mceText, .phoundrySkinBlack div.mceMenu, .phoundrySkinBlack table.mceLayout, .phoundrySkinBlack .mceMenuItemTitle a, .phoundrySkinBlack table.mceLayout tr.mceFirst td, .phoundrySkinBlack table.mceLayout, .phoundrySkinBlack .mceMenuItemTitle a, .phoundrySkinBlack table.mceLayout tr.mceLast td, .phoundrySkinBlack .mceIframeContainer {border-color: #535353;}
.phoundrySkinBlack table.mceSplitButtonEnabled:hover a.mceAction, .phoundrySkinBlack .mceSplitButtonHover a.mceAction, .phoundrySkinBlack .mceSplitButtonSelected {background-image:url(img/button_bg_black.png)}
.phoundrySkinBlack .mceMenu .mceMenuItemEnabled a:hover, .phoundrySkinBlack .mceMenu .mceMenuItemActive {background-color:#FFE7A1}
