fieldset.toggleable
{
	
}

fieldset.toggleable > legend
{
	cursor: pointer;
	background: transparent left center no-repeat;
	padding-left: 20px;
}

fieldset.toggleable.closed > legend
{
	background-image: url(pics/small_desc.gif);
}

fieldset.toggleable.open > legend
{
	background-image: url(pics/small_asc.gif);
}

fieldset.toggleable.closed div.addonbody
{
	display: none;
}

fieldset.toggleable.open div.addonbody
{
	display: block;
}

fieldset.static div.addonbody
{
	display: block;
}