.DT {
	font-family: Tahoma,Futura,Helvetica,Sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.DT img {
	border: 0px;
	vertical-align: middle;
}
.DT a:link, .DT a:visited, .DT a:active {
	color: #333;
	text-decoration: none;
}
.DT a.N, .DT a.NS {
	white-space: nowrap;
	padding-left: 2px;
}
.DT a.N:hover, .DT a.NS:hover {
	text-decoration: underline;
}
.DT a.NS:link, .DT a.NS:visited, .DT a.NS:active {
	background-color: #0c2e82;
	color: #fff;
}
.DT .clip {
	overflow: hidden;
}
