
table, td, tr, p, input, fieldset {
	font-family: arial, sans-serif;
	font-size: 11px;	
	font-weight: bold;
}

fieldset {
		font-weight: normal;
}

div#menuItem {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

input.inputItem {
	border: 0px;
	width: auto;
	font-weight: bold;
	height: 16px;
	background: transparent;
}
html>body input.inputItem {
	border: 1px solid transparent;
}

input.inputItemSelect {
	border: 1px dashed #FF8601;
	background: transparent;
	font-weight: bold;
	height: 16px;
}





/* Context Menu  color: #0046d5;*/
div.contextEl {
	position: absolute;
	background: #fff;
	border: 1px solid black;
	z-index: 11;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#777777,Direction=135,Strength=2)
}

ul.contextEl {
	margin: 0;
	padding: 5px;
	list-style: none;
	width: 130px;
}

ul.contexEl li {
	position: relative;
}

ul.contextEl li a:link, ul.contextEl li a:visited {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 2px;
}

ul.contextEl li a:hover {
	background: #ccc;
	color: #fff;
	text-decoration: none;
}