body, td, button, select, input, .txt {
	font-family: Tahoma,Futura,Helvetica,Sans-serif;
	font-size: 11px;
}

body {
	background:$fff;
	border: 0;
	overflow: hidden;
}

form {
	margin: 4px;
}

fieldset {
   -moz-border-radius: 6px;
}

.error {
	/* supply height to ensure consistent positioning for every browser */
	background-color:#FFD9D9;
	border:1px solid #FFD9D9;
	font-size:11px;
	color:#000;

	/* CSS3 spicing for mozilla and webkit */
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-topleft:0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0;

	-moz-box-shadow:0 0 6px #ddd;
	-webkit-box-shadow:0 0 6px #ddd;
}