body {
	background: #fff;
	color: #000;
}

body, p, td, th {
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 10pt;
	color: #000;
}

a:link, a:visited, a:active {
   color:#0046d5;
   text-decoration:none;
}

a:hover {
   color:#ff8500;
   text-decoration: underline;
}

table.forumIndex {
	width:100%;
}

table.forumIndex th {
   background: #e6e4e1;
   border: 1px outset window;
   cursor: default;
   font-weight: bold;
   -moz-user-select: none;
}

fieldset {
	display: block;
   -moz-border-radius: 6px;
	text-align: left;
}

tr.even {
   background: #e6e6e5;
}

tr.odd {
   background: #fff;
}

form {
	margin: 0;
}

.req {
	font-weight: bold;
	color: red;
}

h2 {
	color:#0046d5;
}

div.forumPost {
	border-bottom: 2px dotted #e6e4e1;
}

div.forumPostProps {
	background: #e6e4e1;
	padding: 3px;
	border: 1px outset window;
}

td.forumPostSubject {
	font-weight: bold;
}

div.forumHeader, div.forumFooter {
	border: 1px solid #c4c3bf;
	padding: 4px;
	text-align: left;
}

div.forumHeader select, div.forumFooter select, div.forumHeader input, div.forumFooter input {
	font: Icon;
}

div.forumHeader:after, div.forumFooter:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}
* html .forumHeader, * html .forumFooter {
height:1%;
}

div.forumQuote {
	margin-left: 20px;
	border-top: 1px solid #D9D7D4;
	border-bottom: 1px solid #D9D7D4;
	background: #f5f5f5;
	padding: 3px;
	margin-bottom: 3px;
	min-height: 32px;
}

img.forumBut {
	border:1px solid #9f998c;
	cursor: pointer;
	cursor: hand;
}
