<script type="text/javascript"><!--
google_ad_client = "{$module->config->client}";
google_ad_slot = "{$module->config->slot}";
google_ad_width = {$module->config->width};
google_ad_height = {$module->config->height};
//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>