div.abuse_form div.error {
	margin: 10px 0;
	border-left: 6px solid #aaa;
	padding: 0 0 8px 8px;
}

div.abuse_form form div.error,
div.abuse_form div.error div.item {
	color: red;
	border: 0;
	margin: 2px 0;
	padding: 0;
}

div.abuse_form div.info {
	font-size: 11pt;
	margin: 4px 0;
}

div.abuse_form div.head {
	margin: 10px 0;
	font-size: 11pt;
}

div.abuse_form div.captcha {
	height: 0px;
	overflow: hidden;
}