@import url('icons/css/fontello.css');
@import url('icons/css/animation.css');

/* Content Builder */
.drop-zone {}
.empty {border:rgba(0, 0, 0, 0.25) 1px dashed;}
.drop-zone.empty { background:#efefef; }

.block-placeholder{height:15px;background: rgba(225,225,225,1);}
/*.block-placeholder{height:0px !important;outline: rgba(225,225,225,1) 7px solid;}*/
.ui-draggable{position:relative}
.ui-draggable.code > div:first-child {opacity:0.5;cursor:default;} /* Mode: code */
.ui-dragbox {
    -webkit-box-shadow: inset 11px 0px 0px -6px rgba(224, 224, 224, 1);
    -moz-box-shadow: inset 11px 0px 0px -6px rgba(224, 224, 224, 1);
    box-shadow: inset 11px 0px 0px -6px rgba(224, 224, 224, 1);
    z-index:1}
/*.ui-dragbox-outlined {
    outline: rgba(0, 0, 0, 0.43) dashed 1px; 
    z-index:1}  */
.ui-dragbox-outlined > div:first-child {
    outline: rgba(228, 156, 90, 0.5) solid 1px; 
    z-index:1
}
.ui-dragbox-outlined.firefox > div:first-child { 
    outline: 1px dotted rgba(113, 54, 0, 0.5); /* For Firefox: uses dotted to prevent rendering issue on zoom */
    z-index:1
}

.dynamic {  width:150px !important; height:60px !important; border:rgba(225,225,225,0.9) 5px solid !important;background:transparent !important;}

.row-tool{display:none;z-index:2;width:30px;font-size:15px;color:rgba(200,200,200,0.8);position:absolute;top:0;left:-37px;}
.row-handle{cursor:move;background: rgb(175, 206, 1);color:#fff;border-top-left-radius: 5px;border-top-right-radius: 5px;width:30px;height:30px;text-align:center;line-height:30px;}
.row-html{cursor:pointer;background: rgb(0, 172, 214);color:#fff;width:30px;height:30px;text-align:center;line-height:30px;}
.row-copy{cursor:pointer;background: rgb(77, 77, 77);color:#fff;width:30px;height:30px;text-align:center;line-height:30px;}
.row-remove {cursor:pointer;background:rgb(247, 99, 46);color:#fff;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;width:30px;height:30px;font-size:15px;text-align:center;line-height:30px;}

#divTool {
    z-index: 10001;
    position: fixed; top: 0; right: -300px;
    width: 270px; height: 100%; padding: 13px; box-sizing: border-box;
    background-color: rgba(213, 213, 213, 0.9);
    color: #111;
    /*-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.29);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.29);*/
}
#lnkToolOpen {
    width: 30px; padding: 10px 3px; margin: 0; background: rgba(213, 213, 213, 0.9);
    position: absolute; top: 100px; left: -30px;
    font-family: sans-serif;
    color: rgb(37, 37, 37);
    font-size: 1.2em;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    box-sizing: border-box;
}
#lnkToolOpen.leftside {
    left: auto; right: -30px;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

#divSnippetList {width:100%;height:100%;border-bottom:rgba(0,0,0,0) 15px solid;margin:0;padding:5px;box-sizing:border-box;overflow-y:auto;overflow-x:hidden;}
#divSnippetList div{cursor:move;margin:0 10px 12px 0;padding:0;float:left;background:#acacac}
#divSnippetList div:hover img {outline:rgba(0, 0, 0, 0.5) 1px solid;opacity:0.5;transition: all 0.2s ease-in-out;}
#divSnippetList div img {
    width:100%; max-width:194px; margin:0; box-sizing:border-box;
    display:block;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0,0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0,0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0,0.2);
}

#divSnippetList::-webkit-scrollbar {width: 12px;}
#divSnippetList::-webkit-scrollbar-track {
    background:rgba(255, 255, 255, 0.49);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
#divSnippetList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

:focus {outline: none;}
.row > * {min-height:30px}

/* Content Editor */

#rte-toolbar {display:none;
    width:100%;height: 63px;padding:12px;
    text-align:center;position:fixed;top:0px;left:0px;background:rgba(255, 255, 255, 0.85);
    margin:0px;opacity:1;z-index:1001;webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;
    box-sizing: border-box;}
#rte-toolbar.rte-side {top:70px;width:70px;height:480px;padding:0;background:rgba(255, 255, 255, 0);}
#rte-toolbar.rte-side.right {left:auto;right:10px;}
@media all and ( min-height: 720px ){
    #rte-toolbar.rte-side {top: 100px;}
}
@media all and ( min-height: 800px ){
    #rte-toolbar.rte-side {top: 150px;}
}
@media all and ( min-height: 960px ){
    #rte-toolbar.rte-side {top: 190px;}
}
#rte-toolbar a {
    width:40px;
    box-sizing: border-box;
    border-radius: 0px;
    padding:9px 12px;
    color: #333333;
    background-color: rgba(224, 224, 224, 0.95);
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    text-align:center;
    line-height: 1.6;
    text-decoration:none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }
#rte-toolbar a:hover {
    background-color: #d3d3d3;
    }

#rte-toolbar a:first-child {border-top-left-radius: 4px;border-bottom-left-radius: 4px}
#rte-toolbar a:last-child {border-top-right-radius: 4px;border-bottom-right-radius: 4px}
#rte-toolbar.rte-side a:first-child {border-radius:0;border-top-left-radius: 4px;border-top-right-radius: 4px}
#rte-toolbar.rte-side a:last-child {border-radius:0;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px}

#divRteLink {display:none;white-space:nowrap;height:33px;position:absolute;text-align:center;
    vertical-align:middle;z-index:1000;opacity:0.9;background:#1AA3FF;cursor:pointer;
	border-radius:3px;border:#B7DEF3 0px solid;color:#fff;font-family: sans-serif;font-size:11px;text-transform:uppercase;letter-spacing:1px;padding:0 10px;line-height:35px}
#divRteLink.forceshow {display: block !important}
#divFrameLink  {display:none;width:67px;white-space:nowrap;height:22px;position:absolute;text-align:center;
    vertical-align:middle;z-index:1000;opacity:0.9;background:#1AA3FF;cursor:pointer;
	border-radius:3px;border:#B7DEF3 0px solid;color:#fff;font-family: sans-serif;font-size:11px;line-height:22px}
#divRteHtml {display:none;width:100px;height:35px;white-space:nowrap;position:absolute;text-align:right;
             vertical-align:middle;text-align:right;z-index:1;}
#divRteHtml #lnkRteHtml {border-radius:3px;opacity:0.9;cursor:pointer;border:#fff 0px solid;
                         font-size:12px;margin:2px 2px 2px 2px;color:#fff;background:#000/*#1AA3FF*/;display:inline-block;width:27px;height:27px;line-height:27px;text-align:center;}

@media (max-width: 600px) {
    #rte-toolbar {display: none !important}
}

/* Image Embed */

/* Custom Image Upload */
div.fileinputs {position: relative;}
div.fakefile {position: absolute;top:0px;left:0px;z-index: 1;}
div.fakefile img {width:50px;height:50px;border-radius:50px}
#img-file {width:50px;height:50px;position: relative;text-align: right;-moz-opacity:0;filter:alpha(opacity:0);opacity:0;z-index:2;cursor:pointer;}
#divUploadImg {display:none;width:50px;height:50px;white-space:nowrap;position:absolute;z-index:15;border-radius:50px;text-align:center;vertical-align:middle;opacity:0.95;background:#2a2a2a;cursor:pointer;}
#divUploadImg i {font-size:20px;color:#ffffff;display:inline-block;line-height:50px;text-align:center;}

/* Content Image Upload */
input.my-file {width:30px;height:30px;position: relative;text-align: right;-moz-opacity:0;filter:alpha(opacity:0);opacity:0;z-index:2;cursor:pointer;}
#divToolImg {display:none;width:30px;height:30px;white-space:nowrap;position:absolute;z-index:10000;border-radius:4px;text-align:center;vertical-align:middle;opacity:0.8;background:rgba(0, 0, 0, 0.9);cursor:pointer;
             background:rgba(0, 163, 204, 0.9)}
#divToolImg #lnkEditImage{font-size:16px;color:#ffffff;display:inline-block;line-height:30px;text-align:center;}
#divToolImgSettings {display:none;width:30px;height:35px;white-space:nowrap;position:absolute;z-index:10000;text-align:center;vertical-align:middle;}
#divToolImgSettings #lnkImageSettings{width:30px;height:30px;border-radius:4px;opacity:0.8;background:rgba(233, 84, 0, 0.9);cursor:pointer;font-size:14px;color:#ffffff;display:inline-block;line-height:30px;text-align:center}

#divToolImgLoader {display:none;width:50px;height:50px;margin-top:-15px;margin-left:-15px;white-space:nowrap;position:absolute;z-index:10000;border-radius:50px;text-align:center;vertical-align:middle;opacity:0.8;cursor:pointer;
             background:rgba(255, 255, 255, 0)}
#divToolImgLoader #lnkImageLoader {font-size:30px;color:rgba(0, 163, 204, 1);display:inline-block;line-height:50px;text-align:center;}

#img-control button {
padding: 5px;
margin-right: 2px;
font-family:Sans-Serif;
font-size: 12px;
letter-spacing:1px;
line-height: 1;
border-radius: 3px;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
color:#333;
}
#img-control #btnChangeImage {
color: #ffffff;
background-color: rgba(0, 163, 204, 0.8);
border-color: rgba(0, 163, 204, 1);
padding-right:4px;
}

/*! rangeslider.js - v0.3.1 | (c) 2014 @andreruffert | MIT license | https://github.com/andreruffert/rangeslider.js */
.rangeslider,
.rangeslider__fill {
  background: #e6e6e6;
  display: block;
  height: 10px;
  width: 100%;
  -webkit-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  position: relative;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #ccc;
  position: absolute;
  top: 0;
}

.rangeslider__handle {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;

  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

#divCb input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}


/* Simple Modal - Inspired by modalEffects.js from http://www.codrops.com */
.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 90%;
	/*max-width: 630px;*/
	min-width: 150px;
	height: auto;
	z-index: 10002;
	visibility: hidden; display: none;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	border-radius:5px;
    -webkit-box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.15);
}

.md-modal.md-draggable {
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	transform: none;
}

.md-show {
	visibility: visible; display: block;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: visible; display: block;
	opacity: 1;
	top: 0;
	left: 0;
	z-index: 10001;	
	/*background: rgba(255, 255, 255, 0.8);*/
	background: rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-content {
	color: #000;
	background: #fff;
	position: relative;
	border-radius: 5px;
	margin: 0 auto;
	overflow: hidden; /*new: to make border-radius applied on iframe scrollbar */
}

.md-body {
	padding: 0;
	margin: 0;
	font-size: 13px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.md-footer{
   text-align:right;
   padding: 0;
   margin: 0;
   background: #ffffff;
   border-radius: 5px;
}
.md-body input[type=text], .md-body textarea {
    display: block;
    width:100%;
    margin:0;
    font-size: 14px;
    letter-spacing: 1px;
    height:63px;
    line-height: 1.7;
    color: #000;
    background-color: #ffffff;
    background-image: none;
    padding: 20px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    /*border: 1px solid #b3b3b3;*/
    border:none;
    /*border-radius: 5px;*/
    border-bottom:#eaeaea 1px solid;
    border-collapse:collapse;
    
}
.md-body select {
    padding: 5px;
    margin:0 0 10px;
    font-size: 14px;
    letter-spacing: 1px;
    height:35px;
    line-height: 1.7;
    color: #454545;
    border-radius: 5px;
    border: none;
    background:#eee;
}
.md-body select option {background:#fff;}
.md-body .inpchk {
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.7;
    float: left;
    height: 63px;
    padding: 20px;
    box-sizing: border-box;
    margin:0;
}
.md-footer button {
    padding: 19px;
    margin: 0;
    width:100%;
    line-height: 1.7;
    font-size: 11px !important;
    letter-spacing: 2px !important;
    text-transform: uppercase !important;
    color: #000;
    background-color: #ddd;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border:none;
    border-radius:0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor:pointer;
    transition: all 0.2s ease-in-out;
}
    
.md-footer button:hover {
    background-color: #d9d9d9;
}

.md-label {
    float: left;
    height: 63px;
    line-height: 63px;
    padding: 0 0 0 20px;
    font-family: sans-serif;
    font-size: 14px;
    color: #333;
    width: 40%;
    box-sizing: border-box;
    background: #f7f7f7;
    border-top-left-radius: 5px;
}

.md-btnbrowse {float:left;cursor:pointer;font-size:15px;height:63px;line-height:1.7;padding-top:20px;text-align:center;box-sizing:border-box;color:#aaa;background:#efefef;}

#md-imageselect, #md-fileselect {z-index: 10005;} /*new*/

/* Sometimes when editing, empty paragraph created (ex. when paste from external source). Hide it. Then clean it when reading the html */
/* p:empty {display:none;} */

.md-pick {width:44px;height:44px;border-radius:500px;display:block;float:left;margin:3px;padding:0;box-sizing:border-box;cursor:pointer;}
.md-pickpara {width:170px;height:40px;border:none;border-radius:5px;display:block;margin:10px;padding:0px;box-sizing:border-box;cursor:pointer;}
.md-pickpara * {margin:0 !important;line-height:0 !important;}
.md-pickalign {width:150px;height:40px;border:none;border-radius:5px;display:block;margin:10px;padding:0px;box-sizing:border-box;cursor:pointer;text-align:left;padding-left:35px;}
.md-picklist {width:150px;height:40px;border:none;border-radius:5px;display:block;margin:10px;padding:0px;box-sizing:border-box;cursor:pointer;text-align:left;padding-left:22px;}
.md-picklist.half {width:70px;display:inline;margin-bottom:2px}
.md-pickalign *, .md-picklist * {font-size:14px;}
.md-pickalign span, .md-picklist span {margin-left:7px}
.md-picksize {width:170px;min-height:40px;border:none;border-radius:5px;display:block;margin:10px;padding:7px;box-sizing:border-box;cursor:pointer;}
.md-picksize * {margin:0 !important;line-height:0 !important;}

::-moz-selection {
    color: #fff;
    background: rgb(255, 156, 38);
}
::selection {
    color: #fff;
    background: rgb(255, 156, 38);
}

#btnInsertPlh, #btnDelRowCancel, #btnDelRowOk {
    padding: 0 30px;
    font-size: 11px;
    line-height: 35px;
    height: 35px;  
    text-transform: uppercase;

    border-radius: 4px;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;      
}
#btnInsertPlh, #btnDelRowCancel {color: #333333;background-color: #d3d3d3;}
#btnInsertPlh:hover, #btnDelRowCancel:hover {color: #111;background-color: #ccc;border-color: #ccc;}
#btnDelRowOk {color: #ffffff;background-color: #08c9b9;}
#btnDelRowOk:hover {color: #ffffff;background-color: #07b0a2;border-color: #07b0a2;}

#btnCleanColor {background:#fff}

.custom-block {
    min-height: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #EAEAEA;
}

a.is-lightbox {cursor:pointer}
.ui-draggable > div:first-child i.icon:hover {cursor:pointer}
.ui-draggable > div:first-child i.icon-ok:hover {cursor:pointer}
.ui-draggable > div:first-child i.icon-quote:hover {cursor:pointer}

.md-tabs {text-align:center;padding:15px;box-sizing:border-box;border-bottom:rgba(152, 152, 152, 0.19) 1px solid;}
.md-tabs > * {padding: 3px 20px;border-radius:30px;background:rgba(255, 255, 255, 1);text-decoration:underline;color:rgba(0, 0, 0, 0.88);cursor:pointer;margin:0 5px;font-family: sans-serif;font-size:12px;letter-spacing: 2px;}
.md-tabs > .active {background:rgba(0, 0, 0, 0.88);text-decoration:none;color:rgba(255, 255, 255, 0.95);cursor:auto;}