.notnull {
	color: #fff;
	background: #c00; 
	border-bottom: buttonshadow solid 1px; 
	border-left: buttonhighlight solid 1px; 
	border-right: buttonshadow solid 1px; 
	border-top:  buttonhighlight solid 1px; 
	font-weight: bold;
}

.null
{
	background: buttonface; 
	border-bottom: buttonshadow solid 1px; 
	border-left: buttonhighlight solid 1px; 
	border-right: buttonshadow solid 1px; 
	border-top:  buttonhighlight solid 1px; 
	font-weight: bold;
}

.col
{
	background: buttonface; 
	border-right: buttonhighlight solid 1px; 
	border-left: buttonshadow solid 1px; 
	border-bottom:  buttonhighlight solid 1px; 
}
