
/**
 * CSS for ITfilter.php
 * LeP, January 2006
 *
 */

#rfilter	* {font-size:12px; font-family: Tahoma,sans-serif}

#rfilter {margin:5px 0}
#rfilter ul, li {list-style:none;margin:0;padding:0}
#rfilter table {border:1px solid #666;border-bottom:none}

#rfilter td {
	background-color:#fafafa;
	padding-left:7px;
	border-bottom:1px solid #666;
	border-left:1px solid #999;
}
#rfilter td td {background-color:#f0f0f0}
#rfilter td td td {background-color:#eaeaea}
#rfilter td td td td {background-color:#e0e0e0}

/* left part of group table; clicking inverts the group (not) */
#rfilter th {cursor:pointer}

/* lower part of a group table with function buttons inside */
#rfilter caption {
	text-align:right;
	border:1px solid #666;
	border-top:none;
	padding-right:2px;
}

#rfilter li {
	padding:3px 15px 3px 0;
	background-color:transparent;
	background-position:0 7px;
	background-repeat:no-repeat;
}

#rfilter div {
	background-position:0 4px;
	background-repeat:no-repeat;
}

#rfilter a {color:#666; text-decoration:none}
#rfilter a:hover {color:blue}

#rfilter img {border:none; cursor:pointer; margin:1px; vertical-align:bottom}

#rfilter div img {opacity:0.3; /*filter:Alpha(opacity=30)*/}
#rfilter div:hover img {opacity:1; /*filter:Alpha(opacity=100)*/}

#rfilter u {text-decoration:none; color:#666; font-weight:bold; cursor:default}	/* column name */

/* column name marked for clipboard */
#rfilter u.marked4cb {
	border:1px dashed #aaa; /* background-color:#bbb; */
	padding-left:3px
}	

#rfilter i {color:#666; font-weight:normal; font-style:normal; cursor:pointer} /* op string */
#rfilter b {color:#777; font-style:normal}	/* value string */
#rfilter span.ftype {display:none}

/* #rfilter table div {cursor:pointer} */

#rfilter li.fmarked {
	border:1px dashed red;
	border-width:1px 0 1px 0;
}


#updEyeCatcher {z-index:9999}

#fPopupContent {
	background:#fff;
	padding:5px;
}

#fPopupContent input.fDisabled, #fPopupContent select.fDisabled {
	background-color:#d7d7d7;
	color:#aaa;
	border:1px solid #999;
}

#fPopupContent input.fEnabled, #fPopupContent select.fEnabled {
	background-color:#fff;
	color:#000;
	border:1px solid orange;
}

#fSelDiv {
	padding:3px 5px 7px 5px;
	white-space:nowrap;
}

#fSelDiv select {
	width: 100%;
}

#fValDiv {
	padding:5px;
	margin-top:5px;
}

#fValDiv h5 {margin:0;padding:0;color:#666}
#fValDiv td, #fValDiv th {padding-top:3px;background:#f5f5f5}
#fValDiv th {vertical-align:top; padding-top:3px;background:#eee}

#fValDiv td, #fValDiv th {
	border-bottom:1px solid #ddd;
	padding-bottom:5px;
}
