.PhotogalleryModule div.coolslide .slideshow_pics { clear: both; border-width: 5px; border-color: #B7B7B7; border-style: solid; }
.PhotogalleryModule div.coolslide .slideshow_nav { padding-left: 0px; margin: 0px; }
.PhotogalleryModule div.coolslide .slideshow_nav li { float: left; list-style: none; width: 20px; }
.PhotogalleryModule div.coolslide .slideshow_nav a { padding: 1px 6px 1px 6px; display: block; margin: 1px; background-color: #B7B7B7; text-decoration: none; color: #ffffff; font: bold 10px/22px Verdana,Arial; }
.PhotogalleryModule div.coolslide .slideshow_nav a:hover, div.coolslide .slideshow_nav a.activeSlide { background-color: #ffffff; color: #B7B7B7; }
.PhotogalleryModule div.coolslide .slideshow_nav a:focus { outline: none; border-width: none; }
.PhotogalleryModule div.coolslide .slideshow_nav img { border: none; display: block; }