.PhotogalleryModule a img
{
	border: 0;
}

.PhotogalleryModule span.description
{
	display: none;
}

.PhotogalleryModule .index .albums a.album,
.PhotogalleryModule .index .album .photos a.photo
{
	display: block;
	float: left;
	margin: 0px 5px;
	height: 210px;
	text-align: center;
}

.PhotogalleryModule .index .albums a.album img,
.PhotogalleryModule .index .album .photos a.photo img
{
	display: block;
	background:#EEEEEE none repeat scroll 0 0;
	border:2px solid #999999;
	padding:5px;
}

.PhotogalleryModule .index .footer
{
	clear: both;
}