.PhotogalleryModule div.photostack .slideshow_pics { clear: both;  }
.PhotogalleryModule div.photostack .slideshow_pics img { border-width: 5px; border-color: #B7B7B7; border-style: solid; }
.PhotogalleryModule div.photostack .slideshow_nav { padding-left: 0px; margin: 0px; width:510px; height: 55px; overflow: auto; white-space:nowrap; }
.PhotogalleryModule div.photostack .slideshow_nav li { float: left; list-style: none; text-align: center; }
.PhotogalleryModule div.photostack .slideshow_nav a { display: block; border: 1px solid #ccc; margin: 1px; background-color: #B7B7B7; text-decoration: none; }
.PhotogalleryModule div.photostack .slideshow_nav a:hover, div.coolslide .slideshow_nav a.activeSlide { background-color: #ffffff; color: #B7B7B7; }
.PhotogalleryModule div.photostack .slideshow_nav a:focus { outline: none; border-width: none; }
.PhotogalleryModule div.photostack .slideshow_nav img { display: block; width:50px; }
.PhotogalleryModule div.photostack .slideshow_nextprev { width: 510px; }
.PhotogalleryModule div. .slideshow_nextprev span:hover { cursor: pointer; }