.PhotogalleryModule .slidebar .filmstrip a.photo,
.PhotogalleryModule .slidebar .filmstrip span.photo
{
	display: block;
	float: left;
	margin: 0px 5px;
	height: 110px;
	text-align: center;
}

.PhotogalleryModule .slidebar .filmstrip a.photo img,
.PhotogalleryModule .slidebar .filmstrip span.photo img
{
	display: block;
	background:#EEEEEE none repeat scroll 0 0;
	border:1px solid #999999;
	padding:2px;
}

.PhotogalleryModule .slidebar .filmstrip span.photo img
{
	border:1px solid #000000;
}

.PhotogalleryModule .slidebar .filmstrip .photo span
{
	display: block;
	width: 100px;
}