/**
 * Context menu
 */
div#ctxtMenu {
	position: absolute;
	z-index: 5;
	display: none;
	text-align: left;
	-moz-box-shadow: #999 3px 3px 6px;
	-webkit-box-shadow: #999 3px 3px 6px;
	box-shadow: #999 3px 3px 6px;
}

div#ctxtMenu ul {
	list-style: none;
	padding: 1px;
	margin: 0;
	background-color: #fff;
	border: 1px solid #999;
	width:120px;
}

div#ctxtMenu ul li {
	margin: 0;
	color: #333;
	display: block;
	cursor: default;
	padding: 3px;
	background-color: #fff;
}

div#ctxtMenu ul li img {
	width: 16px;
	height: 16px;
}

div#ctxtMenu ul li.unavailable {
	color: #bbb;
}

div#ctxtMenu ul li.separator-bottom {
	border-bottom: 1px solid #aa9;
}

div#ctxtMenu ul li.separator-top {
	border-top: 1px solid #aa9;
}

div#ctxtMenu ul li.ctxtHover {
	background: #3860a5 url(../pics/bg_blue.gif) repeat-x;
	color: #fff;
}
