html, body {
	margin: 0;
	padding: 0;
}

body,
p,
input,
textarea,
select,
button {
	font: 300 12px/14px 'Lucida Sans Unicode', Arial, sans-serif;
	/* text-shadow: 0 1px 1px #A6AAB3; */
	color: #6E6F71;
}

div.selector span {
	font-size: 10px;
}

strong {
	font-weight: bold;
}

a {
    color: #717D27;
	cursor: pointer;
    text-decoration: none;
}

a img {
	border: 0;
}

a:link, a:visited, a:active {
    color: #717D27;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
    color: #CC5E1E;
}

b {
	font-weight: bold;
}

h2, .h2 {
    font-size: 17px;
    color: #56267D;
}


.fieldsets-wrapper {
    border: 1px solid #F4F4F4;
    border-top-width: 2px;
    border-bottom-width: 6px;
    border-left-width: 0;
    border-right-width: 0;
    margin-bottom: 6px;
    padding: 0;

}

.fieldset-wrapper {
	padding: 0;
	border: 0;
	border-left: 1px solid #F4F4F4;
	border-right: 1px solid #F4F4F4;
	overflow: auto;
}

.fieldset-wrapper > fieldset {
	margin: 10px 4px;
}

fieldset,
div.fieldset {
	border: 0;
    margin: 0;
    padding: 0;
	display: block;
}

.fieldsets-wrapper-fields {
    border-top: 2px solid #BCCF3F;
    border-bottom: 6px solid #BCCF3F;
    margin-bottom: 6px;
}

.fieldsets-wrapper-fields > .fieldset-wrapper:nth-child(odd) {
	background-color: #F1F1F1;
}
.fieldsets-wrapper-fields > .fieldset-wrapper:nth-child(even) {
	background-color: #ffffff;
}

fieldset legend {
	display: block;
	padding: 0;
	width: 100%;
	border: none;
	margin: 0 0 8px;
	
	color: #4F4F4F;
	font-weight: bold;
	font-size: 13px;
}

form {
	margin: 0 
}

.fieldset-wrapper + p {
	margin-top: 0;
}

table caption {
	caption-side: top;
	text-align: left;
}

select,
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="radio"],
input[type="checkbox"] {
	cursor: pointer;
}

/* Glow active inputs (CSS3) */
input[type="text"], input[type="password"], textarea  {
	border: 1px solid #bbb;
	padding: 2px;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	-moz-box-shadow: 0 0 8px rgba(82, 131, 193, 0.5);
	border-color: rgba(82, 131, 193, 0.75) !important;
	outline: medium none;
}
/* /Glow active inputs (CSS3) */

.submitBut,
button,
input[type=submit], input[type=button] {
	padding: 0 6px;
	font-size: 11px;
	font-weight: bold;
	border: 0;
	color: #FEFEFE;
	background: #6f7072 ;
	/* iPad fixes*/
	-webkit-appearance: none;
	-webkit-border-radius:0px;
    cursor: pointer;
}

button:focus, input[type=submit]:focus, input[type=button]:focus,
button:hover, input[type=submit]:hover, input[type=button]:hover {
    color: #ffffff;
    background: #717D27;
}

.okBut[disabled], #addBut[disabled],
button[disabled], input[type=submit][disabled], input[type=button][disabled] {
    color: #FEFEFE;
    background: #b0b1b3;
    cursor: default;
}

.fieldset-wrapper-req {
}

.fieldset-wrapper-formError {
}

.fieldset-wrapper legend > b {
    font-weight: normal;
}

.fieldset-wrapper-req legend > b.req {
	padding-right: 10px;
	background: url(../pics/req.png) no-repeat center right;
}

.info2 {
	display: none;
}

div.error {
	color: #ff0000;
    padding: 10px 0 10px 50px;
    background: url(../pics/error.png) no-repeat 5px 5px;
    border-width: 2px 1px 6px;
    border-color: #ff0000;
    border-style: solid;
    min-height: 40px;
}

img.div {
	display: none;
}

img.icon {
	width: 16px;
	height: 16px;
	border: 0;
}

.ptr {
	cursor: pointer;
}

.caution {
	font-weight: bold;
	color: #ff0000;
}

.WPonly {
	color: #6F7072 !important;
	background: #FFC816 !important;
	padding: 4px;
}

.view-table {
    font-size: 11px;
    border-collapse: collapse;
    border: 1px solid #f3f3f3;
	background-color: #ffffff;
}

.view-table tr {
    border: 1px solid #f3f3f3;
}

.view-table td {
    padding: 8px 10px;
}

#recordTBL tr {
	cursor:pointer;
}

#recordTBL tr:hover {
	background-color:#ececec;
}

.sort-table {
    font-size: 12px;
    border-collapse: collapse;
    border-bottom: 6px solid #BCCF3F;
}

.sort-table-headless {
    border-top: 2px solid #56267D;
}

.sort-table th {
	text-align: left;
    font-weight: bold;
    color: #ffffff;
    border-left: 1px solid #BCCF3F;
}

.sort-table th a {
	color: #ffffff;
	text-decoration: underline;
}

.sort-table th,
.sort-table td {
	padding: 2px 8px;
}

.sort-table th {
    background: #BCCF3F;
}

.sort-table tr {
    background: #ffffff;
    border-left: 1px solid #aeafb3;
    border-right: 1px solid #aeafb3;
}

.sort-table tr + tr {
    border-top: 1px solid #C9C9C9;
}

.sort-table th + th {
    border-left: 1px solid #E7E7E7;
}

.sort-table th.sort {
    cursor: n-resize;
}

.sort-table th.sortHeaderDesc,
.sort-table th.sortHeaderAsc {
    cursor: s-resize;
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url(../pics/arrow-up-white.png);
    padding-left: 20px;
}

.sort-table th.sortHeaderDesc {
    cursor: n-resize;
    background-image: url(../pics/arrow-down-white.png);
}

.sort-table td + td {
	border-left: 1px solid #C9C9C9;
}

.sort-table tr.active {
	background: #E1E2E4;
}

.sort-table tr.active td {
	background: #E1E2E4;
}

div.info,
.miniinfo {
	padding-left: 16px;
	background: url(../pics/info_mini.png) no-repeat left top;
	color: #a1a7b3;
}

.miniinfo ul li {
	list-style: none;
}

.miniinfo ul li + li {
	margin-top: 5px;
}

a.icon,
span.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
	background: no-repeat center center;
}

span.manual {
	background: url(../pics/help.png) no-repeat left center;
	margin: 0 5px;
}
