@import url(general.css);
html {
	height: 100%;
	max-height: 100%;
	overflow: hidden;
}

body {
	background: #FFFFFF;
	height: 100%;
	max-height: 100%;
	overflow: auto;
}

body, td, th, p, select,
.tree li a input, .tree li span input 
{
	font-family: Tahoma,Futura,Verdana,Sans-serif;
	font-size: 11px;
}

.tree li a:hover, .tree li a.hover {
	background-color: #ddeff7;
}

#treeDiv {
	position: absolute;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: inset 0 0 8px 0 #e5e5e5;
	-moz-box-shadow: inset 0 0 8px 0 #e5e5e5;
	box-shadow: inset 0 0 8px 0 #e5e5e5; 
	overflow:auto;
	top: 20px;
	left: 5px;
}

#loadDiv {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

div#img_props {
	position: absolute;
	width: 390px;
	height: 270px;
	top: 21px;
	left: 6px;
	background: #fff;
	padding: 5px;
	display: none;
}

#preview {
	position: absolute;
	display: block;
	overflow: hidden;
	text-align: center;
	top: 20px;
	right: 5px;
	height: 174px; 
	width: 174px;
	padding: 2px;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: inset 0 0 8px 0 #e5e5e5;
	-moz-box-shadow: inset 0 0 8px 0 #e5e5e5;
	box-shadow: inset 0 0 8px 0 #e5e5e5; 
}

#buttons {
	position: absolute;
	top: 205px;
	right: 5px;
	width: 180px;
}

.icon-buttons button {
	width: 16px;
	height: 16px;
	border: 0;
	padding: 2px;
	margin: 5px;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: 120%;
	overflow: hidden;
	white-space: nowrap;
}
#buttons button {
	background-color: transparent;
}

#buttons button.forDir.delete {
	background-image: url(../pics/delete_folder.png);
}
#buttons button.forDir.rename {
	background-image: url(../pics/rename_folder.png);
}
#buttons button.forDir.add {
	background-image: url(../pics/add_folder.png);
}
#buttons button.forDir.add-file {
	background-image: url(../pics/add_file.png);
}
#buttons button.forDir.checkurl {
	background-image: url(../pics/search_folder.png);
}
#buttons button.forFile.delete {
	background-image: url(../pics/delete_file.png);
}
#buttons button.forFile.rename {
	background-image: url(../pics/rename_file.png);
}
#buttons button.forFile.download {
	background-image: url(../pics/download_file.png);
}
#buttons button.forImage.edit {
	background-image: url(../pics/edit_image.png);
}
#buttons button.forFile.checkurl {
	background-image: url(../pics/search_file.png);
}
#useFile.okBut {
	background-color: #6F7072;
    color: #FEFEFE;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 6px;
    cursor: pointer;
}

#popup {
	position: absolute;
	z-index: 3;
	background:#fff;
	left:90px;
	top:60px;
	
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 3px solid #000000;
    -webkit-box-shadow: 0 0 10px 0 #000000;
	-moz-box-shadow: 0 0 10px 0 #000000;
	box-shadow: 0 0 10px 0 #000000; 
}

.popupCaption {
	background: url(pics/window_top.png) repeat-x;
	text-align: center;
	color: #fff;
	font: small-caption;
	padding: 5px;
	-moz-user-select: none;
}

.ptr {
	cursor:pointer;
}

a.downloadLink {
	color: #0046d5;
	text-decoration: none;
}

a.downloadLink:hover {
	text-decoration: underline;
}

#throbber {
	position: absolute;
	top: 27px;
	right: 215px;
	display: none;
}

#help {
	position: absolute;
	top: 22px;
	right: 215px;
}

h4 {
	border-bottom: 1px solid #000;
	margin: 4px 0;
	font-size: 10pt;
}

#img_props table th {
	text-align: right;
	font-weight: normal;
}

#img_props table .ipt {
	width: 180px;
}

/** Image editor **/

#content {
	overflow: auto;
	position: absolute;
	top: 56px;
	bottom: 0;
	left: 0;
	right: 0;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 56px;
}

div.toolbar {
	background: #e0dfe3;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #9d9da1;
	height: 26px;
}

img.icon {
	width: 16px;
	height: 16px;
}

div.toolbar button {
	height: 20px;
	padding: 0 6px;
}

div.toolbar td.space {
	padding-right: 10px;
}

#topToolbar button {
	background: none;
	border: 0;
	padding: 2px 4px;
}

/** Tabs **/

ul.stabs {
	position: absolute;
	top:0; 
	left:5px;
	list-style-type: none;
	padding: 0;
	margin: 2px 0 0 1px;
}

ul.stabs li {
	float: left;
	padding: 0;
	margin: 0;
	margin-right: 1px;
	height:20px;
}

ul.stabs li a {
	display: block;
	padding: 0 4px 0 3px;
	text-decoration: none;
	padding-top:2px;
	background: #E2E2E2;
	color: #939292;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px; 
}

ul.stabs li a:hover {
	color: #1F212B;
}

ul.stabs li.current a {
	color: #fff;
	background: #1F212B;
}

img.icon {
	width:16px;
	height:16px;
	border:0;
}

.windowTop {
	background: #F5F5F5;
	height:38px;
	line-height:38px;
	padding: 0 10px;
	font-size: 18px;
	font-weight: bold;
	color: #3C3C3C;
	cursor: default;
	overflow: hidden;
	-moz-user-select:none;
	-webkit-user-select:none;
   -moz-border-radius-topleft: 4px;
   -webkit-border-top-left-radius: 4px;
   border-top-left-radius: 4px;
   -moz-border-radius-topright: 4px;
   -webkit-border-top-right-radius: 4px;
   border-top-right-radius: 4px;
}

.windowTop .close {
	position: absolute;
	top: 6px;
	cursor: pointer;
	width: 14px;
	height:14px;
	background: no-repeat center center;
	background-image: url(../pics/popup_close.png);
	right: 5px;
}