@import url(plugins.css);
@import url(popupwindow.css);

body,
td,
th,
p,
input,
textarea,
select,
button {
	font: 300 12px/1.5 Arial, sans-serif;
	color: #FFFFFF;
}

html {
	height: 100%;
	width: 100%;
	background: #c0bebe; /* Old browsers */
	overflow: hidden;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	border: 0;
	color: #000;
	
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
body.shanghai {
	background-image: url(../pics/backgrounds/lonely-tree-on-hill-license-free.jpg);
}
body.shanghai2 {
	background-image: url(../pics/backgrounds/water-drop-on-a-leave-free-license.jpg);
}
body.stockholm {
	background-image: url(../pics/backgrounds/paddy-Field-On-Bali-license-free.jpg);
}
body.amsterdam {
	background-image: url(../pics/backgrounds/bee-with-flower-free-license.jpg);
}

a {
	color: #5E2590;
	cursor: pointer;
}

a:link, a:visited, a:active {
    color: #5E2590;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#errorDiv {
	width: 350px;
	min-height: 85px;
	margin-top: 65px;
	background: #eee;
	border: 2px solid red;
	text-align: left;
	display: none;
	font-weight: bold;
	padding: 7px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}

.formError {
	 background: #ffd9d9;
}

form {
	height: 100%;
	width: 100%;
	margin: 0;
	border: 0;
}

.kader-outer {
	height: 100%;
	width: 100%;
	margin: 0;
	border: 0;
}

.kader {
	vertical-align: middle;
}

.kader .inner {
	width: 382px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 40px 0 #000000;
	-moz-box-shadow: 0 0 40px 0 #000000;
	box-shadow: 0 0 40px 0 #000000;
}
.lt-ie9 .kader .inner-inner {
    background: #ffffff;
}

.kader .inner-inner {
    background: rgba(255, 255, 255, 0.6);
    padding: 10px 30px 30px;
}

.kader .inner-inner .inner-inner-inner {
    padding: 20px 10px;
    background: #ffffff;
}

#footer,
#footer a {
	color: #CC5E1E;
	font-size: 11px;
}

#footer {
	position: absolute;
	bottom: 0;
	/*left: 0;*/
    right: 0;
	/*width: 100%;*/
    width: 285px;
	height: 56px;
	text-align: right;
	background-color: rgba(255, 255, 255, 0.8);
    color: #6F7072;
}

.lt-ie9 #footer {
	background: #FFFFFF;
}

#footer > div {
    float: right;
    padding-top: 12px;
	padding-right: 10px;
	opacity: .8;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

#phoundry-logo {
	display: block;
	position: absolute;
	top: 7px;
	left: 0;
	width: 270px;
	height: 52px;
	padding: 0;
	opacity: 1;
	background: url(../pics/menu_footer_logo_v2.png) no-repeat 10px 0;
}

fieldset,
div.fieldset {
	border: 0;
    margin: 0;
    padding: 0;
	display: block;
	color: #6F7072;
}

div.fieldset-wrapper {
    margin-bottom: 20px
}

.errors .fieldset-wrapper {
}

b.req {
	font-weight: normal;
}

select,
input[type=text],
input[type=password] {
	font-size: 14px;
	box-sizing: border-box; /* css3 rec */
	-moz-box-sizing: border-box; /* ff2 */
	-ms-box-sizing: border-box; /* ie8 */
	-webkit-box-sizing: border-box; /* safari3 */
	-khtml-box-sizing: border-box; /* konqueror */
	
	background: #ffffff;
	padding: 0 0 0 4px;
	color: #6F7072;
    border: 1px solid #BBBBBB;
    width: 100%;
}

input[type=text],
input[type=password] {
	height: 30px;
	line-height: 30px;
}

select {
	padding: 5px;
}

.buttons a,
.buttons input {
    display: block;
    float: right;
    margin: 0 3px;
    padding: 2px 6px;
    font-size: 10px;
    font-weight: bold;
    border: 0;
    color: #6f7072;
    background: #FEFEFE;
    /* iPad fixes*/
    -webkit-appearance: none;
    -webkit-border-radius:0px;
    cursor: pointer;
}

.buttons a:focus,
.buttons input:focus,
.buttons a:hover,
.buttons input:hover{
    text-decoration: none;
    color: #ffffff;
    background: #717d27;
}


.buttons input[disabled] {
	color: #C1C1C1;
	background-color: #FEFEFE;
	cursor: default;
}
.buttons input[disabled]:hover {
	color: #C1C1C1;
	background-color: #FEFEFE;
}

/* Glow active inputs (CSS3) */
input[type="text"], input[type="password"], textarea  {
    border: 1px solid #bbb;
    padding: 2px;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    -moz-box-shadow: 0 0 8px rgba(82, 131, 193, 0.5);
    border-color: rgba(82, 131, 193, 0.75) !important;
    outline: medium none;
}
/* /Glow active inputs (CSS3) */

#logo {
	background: url(../pics/logo_phoundry.png) no-repeat 53% center;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
	height: 100px;
	width: 325px;
	margin: auto;
	padding-top: 15px;
}

.buttons {
    text-align: right;
    margin-top: 10px;
    padding: 10px;
    border-top: 2px solid #99D420;
    background-color: #E2E2E2;
}

/**
 * Uniform Select
 */
div.selector, 
div.selector span {
	display:block;
	color: #fff;
	background-image: url(../pics/uniform-sprite-black.png);
}

label.skinned-selcheck {
    float:left;
}
.skinned-selcheck input[type="checkbox"] + span:before, .skinned-selcheck input[type="radio"] + span:before {
    vertical-align: bottom;
}
#remember_me + span {
    color: #6f7072;
}

a.pw_reminder,
a.pw_reminder:link,
a.pw_reminder:visited {
    float:right;
    margin-top: -18px;
    color: #717d27;
}