@import url(general.css);
@import url(plugins.css);

html {
    overflow: hidden;
}

body,
a,
a:link,
a:visited,
a:active {
    color: #6E6F71;
}

img.icon {
    border: 0;
    width: 16px;
    height: 16px;
    float: left
}

#footerBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18px;
	padding: 5px 0;
    background: #E2E2E2;
}

#footerLogo {
    position: fixed;
    bottom: 28px;
    height: 60px;
    width: 100%;
    background: url(../pics/menu_footer_logo_v2.png) no-repeat center center;
}

#menuToggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 7px;
    height: 78px;
    background: url(../pics/menu_close.png) no-repeat right center transparent;
    cursor: pointer;
}

.closed form,
.closed div {
    display: none;
}

html.closed {
    border: 0;
}
.closed #menuToggle {
    display: block;
    background: url("../pics/menu_open.png") no-repeat scroll 1px 35px #1F212B;
    top: 0;
    height: 100%;
    width: 10px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul ul li {
    padding-left: 20px;
}

.userInfo {
	height: 80px;
    background: #FFFFFF;
}

.userInfo a,
.userInfo span {
    color: #3d3d3d;
}

.userInfo .item > span > span,
.userInfo .item > span,
.userInfo .item > a {
    line-height: 23px;
    padding: 0 5px 0 10px;
    display: block;
}

.userInfo .username > span,
.userInfo .username {
    font-size: 14px;
    line-height: 34px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.userInfo #logout > a,
.userInfo #settings > span {
    cursor: pointer;
    padding-left: 30px;
    background: url(../pics/cog.png) no-repeat 10px center;
}

#settings > span > span {
    padding: 0;
    background: url(../pics/usermenu_sub.png) no-repeat right center;
}
#settings.open > span > span {
    background-image: url(../pics/usermenu_sub_open.png);
}

.userInfo #logout > a {
    background: url(../pics/logout.png) no-repeat 12px center;
}

select {
    display: block;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
}

#settings select {
    width: 100px;
    margin: 0;
}
#settings .selector select {
    width: 100%;
}

#settingsPane {
    display: none;
}

#settingsPane > div.selected a {
    font-weight: bold;
    color: #56267D;
}

#settingsPane > div > a,
#settingsPane > div > span {
    background: url("../pics/menu_sub_bullet.png") no-repeat scroll 13px center transparent;
    display: block;
    padding: 5px;
    padding-left: 23px;
}

/*** Accordion ***/

.shortcuts a,
.paneContainer a.head {
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    border-bottom: 1px solid #9E959D;
    color: #474747;
	background-color: #ffffff;
    white-space: nowrap;
    padding:6px;
}

.shortcuts a {
    font-size: 12px;
    padding-left: 30px;
    background: url(../pics/shortcut.png) no-repeat 10px center;
}

.paneContainers {
	position: relative;
	overflow: auto;
	border-right: 1px solid #e2e2e2;
}

.paneContainer {
	margin-top: 18px;
	margin-bottom: 28px;
}

.paneContainer a.head span {
    display: block;
    padding-right: 12px;

    background: url(../pics/menu_sub_open.png) no-repeat center right;
}

.paneContainer a.selected {
    font-weight: bold;
    background: #BCCF3F;
    color: #ffffff;
}

.paneContainer a.head:hover span {
    text-decoration: none;
    background: url(../pics/menu_sub_hover.png) no-repeat center right;
}

.paneContainer a.selected span,
.paneContainer a.selected:hover span {
    background: url(../pics/menu_sub_close.png) no-repeat center right;
}

.paneContainer a.head:hover {
    background-color: #717D27;
    color: #ffffff;
}

.shortcuts a:hover {
    background-color: #56267D;
    color: #fff;
}

.selectWrapper {
    padding: 0 10px 18px;
}

.listMenu {
    background: #F4F4F4;
}

.listMenu li + li {
    border-top: 1px solid #AEAFB3;
}

.listMenu li.selected a {
    font-weight: bold;
    color: #6E6F71;
}

.listMenu li.selected a, .listMenu li.selected span {
    background-image: url(../pics/menu_sub_bullet_active.png);
}

.listMenu li a, .listMenu li span {
    -moz-outline-style: none;
    display: block;
    padding: 5px;
    padding-left: 28px;
    background: url(../pics/menu_sub_bullet.png) no-repeat 13px center transparent;
}

.listMenu li span {
    cursor: pointer;
}

.listMenu li.collapsable span {
    background: url(../pics/menu_sub_sub_close.png) no-repeat 11px center transparent;
    border-bottom: 1px solid #676465;
}

.listMenu li.expandable span {
    background: url(../pics/menu_sub_sub_open.png) no-repeat 11px center transparent;
}

div.selector {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/** Tabs **/
.tabs-wrapper {
    position: relative;
    background: #CDCDCD;
    overflow: hidden;
    height:35px;
}

.shadow {
    z-index: 15;
    height: 4px;
    background: url(../pics/shadow_menu.png) bottom left;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

ul.tabs {
    list-style-type: none;
    padding: 5px;
    padding-bottom: 0;
    margin: 0;
    width: 600px;
}

ul.tabs li {
    float: left;
    position: relative;
    padding: 0;
    margin: 0 0 0 5px;
    background-color: #BCCF3F;
}

ul.tabs li a {
    text-indent: -999em;
    text-align: center;
    line-height: 32px;
    height:32px;
    width: 30px;
    display: block;
    padding: 0;
    color: #fff;
    text-decoration: none;
}

ul.tabs li a img {
    float: none;
    vertical-align: middle;
}

ul.tabs li a:hover {
    /*	color: #ffd045;*/
}

ul.tabs li.current {
    background-color: #fff;
    z-index: 20;
}

ul.tabs li.current a {
    color: #000;
}

ul.tabs li.tab-phoundry a {
    background: url(../pics/website_active.png) no-repeat center center;
}
ul.tabs li.tab-phoundry.current a {
    background: url(../pics/website_2.png) no-repeat center center;
}
ul.tabs li.tab-dmdelivery a {
    background: url(../pics/email_active.png) no-repeat center center;
}
ul.tabs li.tab-dmdelivery.current a {
    background: url(../pics/email.png) no-repeat center center;
}
#tab8 a {
    background: url(../pics/user_active.png) no-repeat center center;
}
#tab8.current a {
    background: url(../pics/user_2.png) no-repeat center center;
}
#tab9 a {
    background: url(../pics/settings_active.png) no-repeat center center;
}
#tab9.current a {
    background: url(../pics/settings_2.png) no-repeat center center;
}

#tab10 a {
    background: url(../pics/custom_work_active.png) no-repeat center center;
}

#tab10.current a {
    background: url(../pics/custom_work.png) no-repeat center center;
}

#tab10 {
    background-color: #CC5E1E;
}

#tab10.current {
    background-color: #ffffff;
}

.icon {
	margin: 0 5px;
}

span.video-tour {
	background: url(../pics/video-tour.png) no-repeat left center;
}

span.quick-reference {
	background: url(../pics/quick-reference.png) no-repeat left center;
}

a.home {
	background: url(../pics/home.png) no-repeat left center;
}
