/* For all MSIE's: */
input[type="file"] {
	background: #fff;
	border: 1px solid #bbb;
	padding: 2px;
}

div#notesGrippie {
	left: -14px;
}

img.calendar_trigger {
	vertical-align: bottom !important;
}

.fieldset-wrapper {
    *overflow: visible;
}

.fieldset-wrapper > fieldset {
    *margin: 0 4px;
}

#recordTBL tr td {
	*border: 1px solid #C9C9C9;
}

.headerFrame,
.contentFrame,
.footerFrame {
	*position: static;
	*left: auto;
	*right: auto;
}

.headerFrame {
	*top: auto;
}
.footerFrame {
	*bottom: auto;
}
.contentFrame {
	*overflow: visible;
	*top: auto;
	*bottom: auto;
}