@import url(general.css);
@import url(popupwindow.css);
@import url(plugins.css);

body.frames {
	background: #fff;
}

.headerFrame,
.contentFrame,
.footerFrame {
	position: absolute;
	left: 0;
	right: 0;
}

.headerFrame {
	top: 0;
	height: 117px;
    overflow: hidden;
}
.footerFrame {
	bottom: 0;
	height: 28px;
	padding: 0 18px;
	background: #E2E2E2;
}
.contentFrame {
	overflow: auto;
	top: 116px;
	bottom: 28px;
	padding: 18px;
}

.headerFrame .header {
	border-bottom: 2px solid #BCCF3F;
	height: 78px;
	padding: 0 12px;
    margin-left: 18px;
}

.headerFrame .menu-handle {
    float: left;
    width: 18px;
    height: 80px;
    cursor: pointer;
    background-color: #BCCF3F;
    background-image: url(../pics/menu-handle.png);
    background-repeat: no-repeat;
    background-position: 11px center;

    -webkit-transition: background-position 1s ease-in-out;
    -moz-transition: background-position 1s ease-in-out;
    -o-transition: background-position 1s ease-in-out;
    -ms-transition: background-position 1s ease-in-out;
    transition: background-position 1s ease-in-out;
}

.headerFrame .menu-closed {
    background-position: -7px center;
}

#pageTitle {
    font-size: 22px;
	line-height: 20px;
	font-weight: bold;
	color: #6e6f71;
	padding-top: 28px;
}

#subTitle {
	font-size: 14px;
	color: #6F7072;
}

.header .filters {
	position: absolute;
	top: 10px;
	right: 70px;
}

.header .header-logo {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 55px;
    height: 63px;
    background-image: url("../pics/logo_v2.png");
    background-position: center center;
    background-repeat: no-repeat;
}


.footerFrame table.buttons {
	height: 100%;
}

table.buttons {
	width: 100%;
}

table.buttons td, table.buttons td a {
	color: #6F7072;
}

.okBut {
	width: 80px;
}

table.buttons tr td a:link,
table.buttons tr td a:visited,
table.buttons tr td a {
}


.buttons .submitBut,
.buttons button,
.buttons input[type=submit],
.buttons input[type=button] {
    color: #6f7072;
    background: #ffffff;
	border: 1px solid #6E6F71;
	height: 20px;
	vertical-align: middle;
}

.buttons button:focus, .buttons input[type=submit]:focus, .buttons input[type=button]:focus,
.buttons button:hover, .buttons input[type=submit]:hover, .buttons input[type=button]:hover {
    color: #ffffff;
    background: #717D27;
}

.buttons .okBut:disabled, .buttons #addBut:disabled,
.buttons button:disabled, .buttons input[type=submit]:disabled,
.buttons input[type=button]:disabled {
	color: #b0b1b3;
	background: #ffffff;
}

#headerButtons {
	height: 35px;
    background-color: #F4F4F4;
    padding-left: 16px;
}

#headerButtons,
#headerButtons td,
#headerButtons a {
	color: #6E6F71;
}


#checkTD span.req {
	text-indent: -999em;
	display: inline-block;
	width: 7px;
	height: 7px;
	background: url(../pics/req_fields.png) no-repeat center center;
	vertical-align: middle;
}

div.miniinfo {
	margin: 8px 0;
}

#navButtons #prevBut,
#navButtons #nextBut {
	text-indent: -999em;
	width: 12px;
	background: no-repeat center center;
	border: 0;
}

#navButtons #prevBut {
	background-image: url(../pics/search_prev.png);
	
}

#navButtons #nextBut {
	background-image: url(../pics/search_next.png);
}

span.icon.shortcut {
	background-image: url(../pics/shortcut_add.png);
	margin-left: 5px;
}

span.icon.shortcut-del {
	background-image: url(../pics/shortcut_del.png);
	margin-left: 5px;
}

span.icon.add-note {
	background-image: url(../pics/add_note.png);
	margin-left: 5px;
}

span.icon.edit-note {
	background-image: url(../pics/edit_note.png);
}

span.icon.del-note {
	background-image: url(../pics/del_note.png);
}

span.check-icon {
	background-image: url(../pics/check.png)
}

span.nocheck-icon {
	background-image: url(../pics/nocheck.png);
}

span.email-all-icon {
	background-image: url(../pics/notify_header.png);
}
span.email-all-active-icon {
	background-image: url(../pics/notify_active.png);
}

span.email-active-icon {
	background-image: url(../pics/notify_active.png);
}

span.email-inactive-icon {
	background-image: url(../pics/notify_inactive.png);
}

span.info-icon {
	background-image: url(../pics/info_mini.png);
}

a.versioning-orphan-count {
	background-image: url(../pics/versioning_orphans.png);
}

a.versioning-notify {
	background-image: url(../pics/versioning_notify_add.png);
}

a.versioning-notify-off {
	background-image: url(../pics/versioning_notify_del.png);
}

span.icon.moveUp {
	background-image: url(../pics/prio-up.png);
}

span.icon.moveDown {
	background-image: url(../pics/prio-down.png);
}

div#ctxtMenu {
    position: absolute;
    z-index: 5;
    display: none;
    text-align: left;
    -moz-box-shadow: #999 3px 3px 6px;
    -webkit-box-shadow: #999 3px 3px 6px;
    box-shadow: #999 3px 3px 6px;
}

div#ctxtMenu ul {
    list-style: none;
    padding: 1px;
    margin: 0;
    background-color: #fff;
    border: 1px solid #999;
    width:120px;
}

div#ctxtMenu ul li {
    margin: 0;
    color: #333;
    display: block;
    cursor: default;
    padding: 3px;
    background-color: #fff;
}

div#ctxtMenu ul li img {
    width: 16px;
    height: 16px;
}

div#ctxtMenu ul li.unavailable {
    color: #bbb;
}

div#ctxtMenu ul li.separator-bottom {
    border-bottom: 1px solid #aa9;
}

div#ctxtMenu ul li.separator-top {
    border-top: 1px solid #aa9;
}

div#ctxtMenu ul li.ctxtHover {
    background: #CC5E1E;
    color: #fff;
}
