.CodeMirror {
	font-size: 12px !important; 
	line-height: 16px !important;
}

/**
 * Balloon that shows up for search results
 */
div#blDiv {
	position: absolute;
	right: 0;
	top: 0;
	width: 168px;
	height: 69px;
	z-index: 3;
}

div#blDiv1 {
	position: absolute;
	left: 70px; 
	top: 5px; 
	width: 88px;
}

div#blDiv2 {
	position: absolute;
	top: 25px;
	left: 12px; 
	width: 145px;
	white-space: nowrap;
	overflow: hidden;
}

/**
 * Notes on the right side that slide open
 */
div#notesGrippie {
	position: absolute;
	width: 15px;
	height: 24px;
	margin-top: -12px;
	top: 50%;
	left: -15px;
	z-index: 4;
	background: url(../pics/note_grippy.png) no-repeat center center;
	cursor: pointer;
}

#notesPane {
	position: absolute;
	right: 0;
	top: 112px;
	z-index: 3;
	
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-radius: 8px 0px 0px 8px;
	border-radius: 8px 0px 0px 8px;
    border: 3px solid #000000;
    -webkit-box-shadow: 0 0 10px 0 #000000;
	-moz-box-shadow: 0 0 10px 0 #000000;
	box-shadow: 0 0 10px 0 #000000;
	border-right: 0;
	overflow: visible;
	max-height: 600px;
}

#notesGrippie dl.note {
	width: 174px;
}

#notesPane.closed dl.note {
	width: 10px;
	overflow: hidden;
}

#notesPane dt,
#notesPane dd {
	width: 154px;
}

#notesPane .notes {
	overflow: auto;
}

dl.note {
    margin: 0;
    width: 174px;
}

dl.note dt {
	background: #F5F5F5;
	height:38px;
	line-height:38px;
	padding: 0 10px;
	font-size: 18px;
	font-weight: bold;
	color: #3C3C3C;
	cursor: default;
	overflow: hidden;
	-moz-user-select:none;
	-webkit-user-select:none;
}

dl.note dd {
	margin-left: 0;
	padding: 0 10px 5px;
	background: #fff;
}

dl.note dd .icon {
	margin-right: 6px;
}

#notesPane .notes > dl > dt {
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-radius: 4px 0 0 0;
	border-radius: 4px 0 0 0; 
}

#notesPane .notes > dl:last-child > dd {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-radius: 0 0 0 4px;
	border-radius: 0 0 0 4px;
}


/*** Treeview ***/

.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview ul {
	margin-top: 0;
}

.treeview .hitarea {
	background: url(../pics/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li { 
	margin: 0; 
	padding: 2px 0 3px 16px;
}

.treeview li a, .treeview li span {
	color: #000;
	padding: 1px 3px;
	-moz-outline-style: none;
}

.treeview li span {
	cursor: pointer;
}

.treeview li.selected {
	background: #f00 url(../pics/bg_blue.gif);
}

.treeview li.selected a {
	color: #fff;
}

.treeview li a {
	border: 1px solid transparent;
}

.treeview li a.selected {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #BEEBFF;
	border: 1px solid #99DEFD;
}

.treeview li.selected a:hover {
	text-decoration: none;
}

.treeview li {
	background: url(../pics/treeview-default-line.gif) 0 0 no-repeat; 
}

.treeview li.collapsable, .treeview li.expandable {
	background-position: 0 -176px; 
}

.treeview .expandable-hitarea {
	background-position: -80px -3px; 
}

.treeview li.last {
	background-position: 0 -1766px 
}

.treeview li.lastCollapsable, .treeview li.lastExpandable {
	background-image: url(../pics/treeview-default.gif);
}  

.treeview li.lastCollapsable {
	background-position: 0 -111px 
}

.treeview li.lastExpandable {
	background-position: -32px -67px 
}

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea {
	background-position: 0; 
}

/**
 * CSS for Tabstrip
 */
#tabstrip {
	padding-left: 18px;
	padding-top: 2px;
	background: #E2E2E2;
	height: 33px;
}

/* Tabstrip contains floats */
#tabstrip:before, #tabstrip:after { content: ""; display: table; }
#tabstrip:after { clear: both; }
#tabstrip { *zoom: 1; }

#tabstrip ul {
	list-style-type: none;
	padding: 0;
	margin: 2px 0 0 1px;
}

#tabstrip li {
	float: left;
	padding: 0;
	margin: 0;
	margin-right: 6px;
}

#tabstrip li span, #tabstrip li a, #tabstrip li .disable {
	display: block;
	padding: 2px 4px 0 3px;
	height: 29px;
	line-height: 29px;
	text-decoration: none;
	color: #fff;
	background: #56267D;
}

#tabstrip li .disable {
	color: #a2a1a1;
}

#tabstrip .inactive a:hover {
}

#tabstrip .active a:hover {
}

#tabstrip .active {
}

#tabstrip .active a {
	background: #ffffff;
	color: #56267D;
}

/**
 * Uniform Select
 */
div.selector, 
div.selector span {
  cursor: pointer;
  background-image: url(../pics/uniform-sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}

.selector, 
.selector *
{
  margin: 0;
  padding: 0;
}

div.selector {
  background-position: -488px -130px;
  line-height: 22px;
  height: 22px;
  position: relative;
  padding-left: 5px;
  overflow: hidden;
  vertical-align: bottom;
}

div.selector span {
  background-position: right 0px;
  height: 22px;
  line-height: 23px;
  padding: 0 15px 0 2px;
  cursor: pointer;
  color: #333;
  display: block;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.selector option {
	color: #757C8B;
	background: #fff;
}

div.selector select {
  /* change these to adjust positioning of select element */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity:0);
  border: none;
  background: none; 
}

div.selector:active, 
div.selector.active {
  background-position: -488px -156px;
}

div.selector:active span, 
div.selector.active span {
  background-position: right -20px;
}

div.selector.focus, div.selector.hover, div.selector:hover {
  background-position: -488px -182px;
}

div.selector.focus span, div.selector.hover span, div.selector:hover span {
  background-position: right -52px;
}

div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
  background-position: -488px -208px;
}

div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span {
  background-position: right -78px;
}

div.selector.disabled {
  background-position: -488px -234px;
}

div.selector.disabled span {
  background-position: right -104px;
	color: #bbb;  
}

.selector
{
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}

.selector select:focus  {
  outline: 0;
}


.ITXduallist .moveLeft,
.ITXduallist .moveRight {
	background: none;
	padding: 0;
	border: 0;
	text-indent: -999px;
	text-transform: capitalize;
	width: 20px;
	height: 20px;
}

.ITXduallist .moveLeft,
.ITXduallist .moveLeft:hover,
.ITXduallist .moveLeft:focus {
	background: url(../pics/arrow-left.png) no-repeat center center;
}

.ITXduallist .moveRight,
.ITXduallist .moveRight:focus,
.ITXduallist .moveRight:hover
{
	background: url(../pics/arrow-right.png) no-repeat center center;
}

.ITXbigmultipleselect .moveUp,
.ITXbigmultipleselect .moveDown,
.ITXbigmultipleselect .delete {
	margin:2px 5px 0 0;
	background: none;
	padding: 0;
	border: 0;
	color: transparent;	
}

.ITXbigmultipleselect .moveUp {
	background-image: url(../pics/arrow-up.png);
}
.ITXbigmultipleselect .moveDown {
	background-image: url(../pics/arrow-down.png);
}
.ITXbigmultipleselect .delete {
	background-image: url(../pics/trash.png);
}

.ITXbigmultipleselect select {
	width: 250px;
}


/*
	Custom Crossbrowser Styling for Checkboxes and Radio Buttons
	------------------------------------------------------------
	created by Martin Ivanov
	http://wemakesites.net
	http://acidjs.wemakesites.net
	http://acidmartin.wordpress.com

	Supported Browsers:
	- Mozilla FireFox
	- Google Chrome
	- Apple Safari
	- Opera
	- Internet Explorer 9

	- Older browsers degrade gracefully displaying browsers' default checkboxes and rad buttons
*/

/* hide the real form element by opacity: 0 and position: absolute - display: block and visibility: hidden do not work because then form elements cannot get the focus and actually get checked or unchecked */
.skinned-selcheck input[type="checkbox"],
.skinned-selcheck input[type="radio"]
{
	position: absolute;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	opacity: 0;
}

/* prevent the entire page from scrolling if there is overflow and checkbox or radio button are clicked */
label.skinned-selcheck
{
	position: relative;
}

/* fallback for IE6, IE7 and IE8 */
.skinned-selcheck input[type="checkbox"],
.skinned-selcheck input[type="radio"]
{
	position: static\9;
}

.skinned-selcheck input[type="checkbox"] + span::before,
.skinned-selcheck input[type="radio"] + span::before
{
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 4px;
	vertical-align: middle;
	background-repeat:  no-repeat;
}

.skinned-selcheck input[type="checkbox"]:checked + span::before
{
	background-position: 0 -20px;
}

.skinned-selcheck input[type="radio"] + span::before
{
	background-position: -20px 0;
}

.skinned-selcheck input[type="radio"]:checked + span::before
{
	background-position: -20px -20px;
}

/* disabled form elements */
.skinned-selcheck input[type="radio"]:disabled + span,
.skinned-selcheck input[type="checkbox"]:disabled + span,
.skinned-selcheck input[type="radio"]:disabled + span::before,
.skinned-selcheck input[type="checkbox"]:disabled + span::before
{
	-moz-opacity: .4;
	-webkit-opacity: .4;
	opacity: .4;
}

/* focused and active form elements */
.skinned-selcheck input[type="checkbox"]:focus + span::before,
.skinned-selcheck input[type="radio"]:focus + span::before,
.skinned-selcheck input[type="checkbox"]:active + span::before,
.skinned-selcheck input[type="radio"]:active + span::before
{
	outline: dotted 1px #ccc;
}

/* skin-specific sprite */
.skinned-selcheck input[type="checkbox"] + span::before,
.skinned-selcheck input[type="radio"] + span::before
{
	background-image: url("../pics/selcheckbox.png");
}