/* Begin Popup */

.inlineWindow-overlay {
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background-color: #000;
	filter: alpha(opacity = 60);
	zoom: 1;
}

.inlineWindow.normal {
    border: 1px solid #717D27;
    border-top-width: 2px;
    border-bottom-width: 6px;
    min-width: 200px;
    min-height: 180px;
    -webkit-box-shadow: 0 0 10px 0 #000000;
	-moz-box-shadow: 0 0 10px 0 #000000;
	box-shadow: 0 0 10px 0 #000000;
}

.inlineWindow .titlebar {
	background: #BCCF3F;
    border-bottom: 2px solid #717D27;
	height:38px;
	line-height:38px;
	padding: 0 10px;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	cursor: default;
	overflow: hidden;
	-moz-user-select:none;
	-webkit-user-select:none;
}

.inlineWindow.normal .titlebar {
}

.inlineWindow .close,
.inlineWindow .maximize {
	position: absolute;
	top: 6px;
	cursor: pointer;
	width: 14px;
	height:14px;
	background: no-repeat center center;
}

.inlineWindow .maximize {
	background-image: url(../pics/popup_maximize.gif);
	width: 16px;
	right: 26px;
}

.inlineWindow .close {
	background-image: url(../pics/popup_close.png);
	right: 5px;
}

.inlineWindow .content {
	background-color: #fff;
	overflow:auto;
	position: relative;
}

.inlineWindow .statusbar {
	height:22px;
	overflow: hidden;
	-moz-user-select:none;
	-webkit-user-select:none;
	background-color: #ffffff;
}

.inlineWindow.normal .statusbar {
}

.inlineWindow .statusbar .resize {
	float: right;
	height: 22px;
	width: 22px;
	cursor: nw-resize;
	background: url(../pics/popup_resize.png) center center no-repeat;
	-moz-user-select:none;
	-webkit-user-select:none;
}