@import url(general.css);
@import url(plugins.css);

html {
}

body {
	padding: 0 14px;
}

body, td, th, p, input, button, select, textarea {
}

ul {
}

h2 {
}

h6 {
}

pre, tt, xmp {
}

a:link, a:visited, a:active {
}

a:hover {
}

.view-table {
}

.view-table td, .view-table th {
}

.view-table tr th {
}

tr.even {
}

tr.odd {
}

tr.active {
}

.ptr {
}

form {
}

dd {
}

.okBut {
}

fieldset {
}

img.icon {
	width:16px;
	height:16px;
	border:0;
}

/* Glow active inputs (CSS3) */
input[type="text"], input[type="password"], textarea  {
	border: 1px solid #bbb;
	padding: 2px;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	-moz-box-shadow: 0 0 8px rgba(82, 131, 193, 0.5);
	border-color: rgba(82, 131, 193, 0.75) !important;
	outline: medium none;
}
/* /Glow active inputs (CSS3) */

.editNote-contents {
	height: 50px;
}

tr.hilite {
	background: red;
}

/* IE7 Haxors hides scrollbars on wrappers */
.fieldset-wrapper {
	*overflow: visible;
}

.fieldset-wrapper > fieldset {
	*margin: 0 4px;
}