/* calendar styles */
#calendar_div {
	display: none;
	border: 1px solid #aa9;
	z-index: 10; 
	padding: 0;
	margin: 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 3px 3px 4px rgba(0,0,0,0.5);
	-webkit-box-shadow: 3px 3px 4px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 4px rgba(0,0,0,0.5);
}
#calendar_div a {
	cursor: pointer;
	cursor: hand;
}
button.calendar_trigger {
	width: 25px;
}
img.calendar_trigger {
	margin: 2px;
	vertical-align: middle;
	cursor: pointer;
}
#calendar_control, #calendar_links, #calendar_header, #calendar, #calendar_time {
	clear: both;
	float: left;
	width: 185px;
	color: #fff;
}
#calendar_control {
	background: url(../pics/window_top.png) repeat-x;
}
#calendar_links {
	background: #000;
}
#calendar_control a, #calendar_links a {
	color: #eee;
	padding: 2px 5px;
}

#calendar_links a:hover, .calendar_titleRow a:hover {
	/*background: #ddd;*/
	color: #333;
}

#calendar_clear {
	float: left;
}

#calendar_close {
	float: right;
}

#calendar_prev, #calendar_next, #calendar_current {
	cursor: pointer;
	color: #fff;
}

#calendar_prev:hover, #calendar_next:hover, #calendar_current:hover {
	text-decoration: underline
}

#calendar_header, #calendar_time {
	background: #333;
	text-align: center;
}
#calendar_header select, #calendar_time select {
	background: #333;
	color: #fff;
	border: 1px solid white;
}
#calendar {
	background: #ccc;
	text-align: center;
}
#calendar a {
	width: 100%;
	display: block;
}
#calendar a:hover {
	color: #eee;
}
#calendar .calendar_titleRow {
	background: #777;
}
#calendar .calendar_titleRow a {
	color: #eee;
}
#calendar .calendar_titleRow a:hover {
	color: #000;
}
#calendar .calendar_daysRow {
	background: #eee;
	color: #666;
}
#calendar .calendar_daysCell {
	border: 1px solid #ddd;
}
#calendar .calendar_daysCell a {
	color: #000;
	width: 100%;
}
#calendar .calendar_daysCell a:hover {
	background: none;
}
#calendar .calendar_weekEndCell {
	background: #ddd;
}
#calendar .calendar_daysCellOver {
	background: #fff;
	border: 1px solid #777;
}
#calendar .calendar_unselectable {
	color: #888;
}
#calendar_today {
	background: #fcc !important;
}
#calendar_currentDay {
	background: #999 !important;
}
#calendar_cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -1px; /*must have*/
    left: -1px; /*must have*/
    width: 300px; /*must have to match width and borders*/
    height: 300px; /*must have to match maximum height*/ 
}
