* {
	font-size: 100%;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
}

body.frames {
	margin: auto;
	overflow: visible;
}

div.headerFrame {
	position: static;
	border-bottom: 1px solid #000;
	height: auto;
	z-index: auto;
}

div.header {
	position: static;
	background: none;
	color: #000;
}

div.header div {
	position: static;
}

div.contentFrame {
	position: relative;
	overflow: visible;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	z-index: auto;
	padding: 0;
}

div.footerFrame {
	position: static;
	left: auto;
	bottom: auto;
	width: auto;
	height: auto;
	border-top: 1px solid #000;
	z-index: auto;
}

#headerButtons, #footerButtons {
	border-bottom: none;
	background: none;
}

.dropShadow {
	display: none;
}
