.dynamic-slider-control {
	position:			relative;
	/*background-color:	rgb(230,230,230);*/
	-moz-user-focus:	normal;
	-moz-user-select:	none;
	cursor:				default;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
	border: 1px solid #cfcfcf;
	background: #eee;
}

.horizontal {
	width:				198px;
	height:				25px;
}

.dynamic-slider-control input {
	display:	none;
}

.dynamic-slider-control .handle {
	position:			absolute;	
	font-size:			1px;
	overflow:			hidden;
	-moz-user-select:	none;
	cursor:				default;
}

.dynamic-slider-control.horizontal .handle {
	width:				31px;
	height:				14px;
	background-image:	url(../pics/slider.handle.horizontal.png);
}

.dynamic-slider-control .line {
	position:			absolute;
	font-size:			0.01mm;
	overflow:			hidden;
	border:				1px solid rgb(90,97,90);
	background:			rgb(189,190,189);
	behavior:			url(boxsizing.htc); /* ie path bug */
	box-sizing:			content-box;
	-moz-box-sizing:	content-box;
}

.dynamic-slider-control.horizontal .line {
	height:				3px;
}

.dynamic-slider-control .line div {
	width:		1px;
	height:		1px;
	border:				1px solid;
	border-color:		rgb(230,230,230) rgb(189,190,189)
						rgb(189,190,189) rgb(230,230,230);
}
