#tabstrip {
	float: left;
	width: 100%;
	line-height: normal;
	color: #fff;
}

.tabstrip-bg {
	background:#929292;
}

#tabstrip ul {
	margin:0;
	padding:4px 10px 0;
	list-style:none;
}

#tabstrip li {
	float:left;
	background:url(../pics/tab_left.gif) no-repeat left top;
	margin:0;
	padding:0 0 0 9px;
}

#tabstrip li a, #tabstrip li .disable {
	float:left;
	display:block;
	background:url(../pics/tab_right.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	font-weight:bold;
}

#tabstrip li .disable {
	color: #a2a1a1;
}

#tabstrip .inactive a:hover {
	text-decoration:underline;
}

#tabstrip .active a:hover {
	text-decoration:none;
}

#tabstrip .active {
	background-image:url(../pics/tab_left_on.gif);
}

#tabstrip .active a {
	background-image:url(../pics/tab_right_on.gif);
	color:#000;
	padding-bottom:5px;
}
