div.reaction_form div.break,
.reactions div.break
{
	clear : both;
}

div.reaction_form
{
	clear: both;
	background-color: #EAEDF2;
}

div.reaction_form .reaction_body,
div.reaction_form div.column div.column_inner
{
	font-weight: bold;
}

div.reaction_form .reaction_form_head
{
	padding: 5px 15px 5px 16px;
	border-top: 1px solid #8BA0AC;
	background-color: #26556F;
	color: #fff;
	font-weight: bold;
	zoom: 1;
}

div.reaction_form div.column
{
	float: left;
	width: 50%;
	_width: 48%; // IE 6 telt er gratis 2 pixels bij op
}

div.reaction_form div.column div.column_inner
{
	padding: 5px 16px 5px 15px;
}

div.reaction_form div.column div.column_inner div
{
	padding: 2px 0;
}

div.reaction_form div.column input,
div.reaction_form .reaction_body textarea
{
	width: 100%;
	border: 1px solid #8FA9C2;
}

div.reaction_form .upload_button .placeholder
{
	height: 21px;
	background: transparent url(/brickwork/pics/reactions/file-loader.gif) left center no-repeat;
}

div.reaction_form .thumbnails_wrap
{
	clear: both;
	padding: 0 15px;
	border-bottom: 1px solid #8BA0AC;
}

div.reaction_form .thumbnails
{
	
}

div.reaction_form .thumbnails .thumbwrapper
{
	background: transparent url(/brickwork/pics/loading.gif) center center no-repeat;	
	float: left;
	margin: 0 5px 5px 0;
}

div.reaction_form .thumbnails .thumb
{
	width: 100px;
	height: 100px;
	background: transparent center center no-repeat;
	border: 2px solid #fff;
	display: block;
}

div.reaction_form .thumbnails .thumb a.delete
{
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -9999em;
	background: url(/phoundry/core/icons/bin.png) no-repeat;
	outline: 0;
	margin: 84px 0 0 68px;
}

div.reaction_form .thumbnails .thumb a.zoom
{
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -9999em;
	background: url(/phoundry/core/icons/magnifier.png) no-repeat;
	outline: 0;
	margin: -17px 0 0 84px;
}

div.reaction_form .reaction_footer,
div.reaction_form .reaction_body
{
	clear: both;
	padding: 5px 15px;
}

div.reaction_form .errors
{
	font-weight: bold;
	color: red;
	clear: both;
	padding: 5px 15px;
}

div.reaction_form .errors .error
{
	font-weight: normal;
	color: #000;
}

div.reaction_form .errors ul
{
	padding-left: 15px;
}

div.reaction_form .errors li.error
{
	list-style: disc;
}

div.reaction_form .reaction_footer .notify_me
{
	zoom: 1;
}

div.reaction_form .reaction_footer .submit_button
{
	float: right;
}

.reactions .reaction
{
	clear: both;
}

.reactions .reaction .media .image,
.reactions .reaction .media .youtube
{
	width: 100px;
	height: 100px;
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	margin: 0 5px 0 0;
	border: 2px solid #fff;
	display: block;
}

.reactions .reaction .media .youtube .play
{
	width: 100%;
	height: 100%;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(/brickwork/pics/reactions/play_overlay_half.png);
}

.reactions .reaction
{
	border-bottom: 1px solid #8BA0AC;
}

.reactions .last
{
	border: 0;
}

.reactions .odd
{
	background-color: #EAEEF1;
}

.reactions .even
{
	background-color: #fff;
}